


body {
	padding-top: 50px;
}

.map_container {
	position: relative;

	#map {
		width: 100%;
		height: 400px;
		margin-bottom: 20px;
	}

	.add-new-spot {
		position: absolute;
		top: 20px;
		right: 20px;
	}

}


.spots_list {
	list-style: none; 
	padding-left: 0px;

	li {
		padding: 10px 20px;
		border-bottom: 1px solid #dedede;
	}
	.spot_title {
		font-weight: 700;
		font-size: 1.3em;
	}
}



.my_filter {

	border-bottom: 1px solid #dedede;
	margin-bottom: 14px;
	padding-bottom: 14px;

	.btn.selected {
		background-color: #006699;
	}

	.rating-btn {
		margin: 0 3px; 
		color: #666;
		font-size: 16;
		
		&.selected {
			color: rgb(255, 107, 0);
		}
	}

}

.delete_confirm {

	position: relative;
	overflow: hidden;

	.delete_button_progress {
		position: absolute;
		top: 0px;
		left: 0px;
		background-color: rgb(205, 97, 97);
		bottom: 0px;
		width: 0%;
		-webkit-transition: width 10ms;
	}
	.label {
		color: #666;
		z-index: 1;
		position: relative;
	}
}